<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
  window.images = {
    coffee_cup: "<%= image_path("coffee-1003185_1920.jpg") %>",
    table: "<%= image_path("table-147314.svg") %>",
    logo: "<%= image_path("welp!-logo.png") %>",
    cityscape: "<%= image_path("cityscape.png") %>",
    star_icon: "<%= image_path("star.png") %>",
    add_photo_icon: "<%= image_path("photo_add.png") %>",
    magnifying_glass_icon: "<%= image_path("magnifying_glass.png") %>"
  }

  window.ddId = <%= dd_id %>
</script>
<main id="root"></main>
