<!DOCTYPE html>
<html>
<head>
  <title>Welp! That's Dinner</title>
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCeNvQ8uvwW-dHA9Xo4CHXiUF9hTWLBXVU" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- <link rel="manifest" href="/manifest.json"> -->
  <!-- <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
  <!-- <meta name="theme-color" content="#ffffff"> -->
</head>
<body>

<%= yield %>

</body>
</html>
